export(make.ddf.analysis)
export(make.density)
export(make.design)
export(make.detectability)
export(make.population.description)
export(make.region)
export(make.simulation)
exportClasses(DDF.Analysis)
exportClasses(Density)
exportClasses(Detectability)
exportClasses(Line.Transect)
exportClasses(LT.Design)
exportClasses(LT.Survey)
exportClasses(Obs.Table)
exportClasses(Population.Description)
exportClasses(PT.Design)
exportClasses(Region)
exportClasses(Region.Table)
exportClasses(Sample.Table)
exportClasses(Simulation)
exportClasses(Survey)
exportClasses(Survey.Design)
exportMethods(generate.population)
exportMethods(generate.transects)
exportMethods(get.criteria)
exportMethods(run)
exportMethods(run.analysis)
exportMethods(simulate.survey)
