export(display.glossary)
export(make.ddf.analysis.list)
export(make.density)
export(make.design)
export(make.detectability)
export(make.population.description)
export(make.region)
export(make.simulation)
exportClasses(DDF.Analysis)
exportClasses(DDF.Data)
exportClasses(Density)
exportClasses(Detectability)
exportClasses(Line.Transect)
exportClasses(LT.Design)
exportClasses(LT.Survey.Results)
exportClasses(LT.Survey)
exportClasses(Obs.Table)
exportClasses(Population.Description)
exportClasses(Population)
exportClasses(Region.Table)
exportClasses(Region)
exportClasses(Sample.Table)
exportClasses(Simulation.Summary)
exportClasses(Simulation)
exportClasses(Single.Obs.DDF.Data)
exportClasses(Single.Obs.LT.Survey)
exportClasses(Survey.Design)
exportClasses(Survey)
exportMethods(add.hotspot)
exportMethods(create.survey.results)
exportMethods(generate.population)
exportMethods(generate.transects)
exportMethods(get.distance.data)
exportMethods(get.N)
exportMethods(run.analysis)
exportMethods(run)
